@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  /* Conversion Px to EM */
  --pte-08: 0.5em;
  --pte-16: 1em;
  --pte-24: 1.5em;

  /* Conversion Px to REM */
  --ptr-08: 0.5rem;
  --ptr-16: 1rem;

  /* Colors */
  --clr-background-main: oklch(89.924% 0.00601 171.388);
  --clr-background-dark: oklch(
    from var(--clr-background-main) calc(l * 0.95) c h
  );
  --clr-background-light: oklch(
    from var(--clr-background-main) calc(l * 1.05) c h
  );

  /* ---- Text */
  --clr-text: oklch(from var(--clr-background-main) calc(l * 0.05) c h);
  --clr-text-muted: oklch(from var(--clr-background-main) calc(l * 0.3) c h);

  /* --- Add Card Colors */
  --clr-primary-main: oklch(58.659% 0.17303 256.715);

  --clr-add-main: oklch(52.155% 0.20721 263.352);
  --clr-back-main: rgb(20 20 19);
  --clr-draw-main: rgb(56, 183, 61);
  --clr-info-main: oklch(56.148% 0.21131 271.877);
  --clr-sub-main: oklch(51.912% 0.15972 30.632);

  /* Font Family */
  --ff-primary: "Space Grotesk", sans-serif;
  --ff-secondary: "Inter", sans-serif;

  /* Gradient */
  --gradient: linear-gradrient(
    0deg,
    var(--clr-background-main),
    var(--clr-background-light)
  );

  /* Padding */
  --padding-300: var(--pte-08);
  --padding-400: var(--pte-16);
  --padding-500: var(--pte-24);

  /* Radius */
  --radius-300: var(--ptr-08);

  /* Spacing */
  --sizing-300: var(--ptr-08);
  --sizing-400: var(--ptr-16);

  /* Typography */
  --ty-base: 0.875rem/1 var(--ff-primary);
  --ty-md: 1.125rem/1.5 var(--ff-primary);
  --ty-heading-1: bold 1.25rem/1.5 var(--ff-primary);
  --ty-heading-2: bold 1.125rem/1.5 var(--ff-primary);
  --ty-heading-3: 1.125rem/1.5 var(--ff-primary);
}

/* ============================================================= */
/* GENERAL */
/* ============================================================= */
body {
  /* background-color: var(--clr-background-dark); */
  background: linear-gradient(
    var(--clr-background-dark),
    var(--clr-background-light)
  );
  color: var(--clr-text-muted);
  color-scheme: light;
  font: var(--ty-base);

  &.dark-mode {
    /* Colors */
    --clr-background-main: oklch(35.233% 0.00004 271.152);
    --clr-background-dark: oklch(
      from var(--clr-background-main) calc(l * 0.95) c h
    );
    --clr-background-light: oklch(
      from var(--clr-background-main) calc(l * 1.05) c h
    );

    /* ---- Text */
    --clr-text: oklch(from var(--clr-background-main) calc(l * 1.95) c h);
    --clr-text-muted: oklch(from var(--clr-background-main) calc(l * 1.7) c h);

    color-scheme: dark;
  }
}

input {
  --_background-color: var(--clr-background-main);

  background-color: var(--_background-color);
  border: none;
  border-radius: 8px;
  color: var(--clr-text-muted);
  padding-block: var(--padding-300);
  padding-inline: var(--padding-400);
}

li {
  list-style-type: none;
}

main {
  display: grid;
  gap: var(--sizing-300);
}

/* ============================================================= */
/* UTILITIES */
/* ============================================================= */
.container {
  --max-width: 768px;
  --padding: 1rem;

  margin-inline: auto;
  width: min(var(--max-width), calc(100% - var(--padding) * 2));
}

.heading-1 {
  color: var(--clr-text);
  font: var(--ty-heading-1);
}
.heading-2 {
  color: var(--clr-text);
  font: var(--ty-heading-2);
}
.heading-3 {
  color: var(--clr-text);
  font: var(--ty-heading-3);
}

/* ============================================================= */
/* COMPONENTS */
/* ============================================================= */
.btn {
  --_background-color: var(--clr-primary-main);

  background-color: var(--_background-color);
  border: 2px solid oklch(from var(--_background-color) calc(l * 0.75) c h);
  border-radius: 8px;
  color: oklch(from var(--_background-color) calc(l * 0.75) c h);
  cursor: pointer;
  font-weight: 500;
  padding-block: var(--padding-300);
  padding-inline: var(--padding-400);

  &[data-btn="ghost"] {
    background-color: transparent;
    border: 1px solid;
    color: var(--_background-color);
  }
}
