.game-over-logo {
    width: 160px;
    aspect-ratio: 1;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.game-over-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(8px);
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
    display: grid;
    place-items: center;
    animation: fadeIn 0.4s ease-out;
}

.loading-indicator-logo {
    width: 160px;
    aspect-ratio: 1;
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    animation: pulse 3s linear infinite
}

.start-game-overlay {
    position: fixed;
    inset: 0;
    background: rgba(80, 80, 80, 0.85);
    backdrop-filter: blur(8px);
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
    display: grid;
    place-items: center;
}

.start-game-overlay.hidden {
    animation: disappearUp 0.6s ease-in forwards;
    pointer-events: none;
    /* Make sure users can't click the invisible overlay */
}

/* ===================== ANIMATIONS =====================*/
@keyframes disappearUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    5% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }
}