header {
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.background-image-container {
  position: fixed;
  height: 100%;
  width: 100%;
  
  
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/home-background.jpg");
    background-size: cover;
    background-position: center;
    z-index: -100;
}


.content-container {
  padding: 1rem;
  max-width: clamp(20rem, 90%, 37.5rem);
  margin:0 auto;
  align-self: start; /* important: stops vertical stretching */
}

.content-wrapper {
  display: grid;
  grid-template-rows: auto auto; /* ← key fix */
  gap: var(--sizing-x-sm);
}

.home-page {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  min-height: 100vh;
}

.header__text {
  color: var(--col-white);
  font-size: var(--text-header-1);
}

.text__users-header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col-white);
  margin-bottom: .5rem;
}

.user-list {
  max-height: 12rem;
  overflow-y: auto;
}

.user-list::-webkit-scrollbar {
  width: 0.5rem;
}

.user-list::-webkit-scrollbar-track {
  background: transparent;
}

.user-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 999px;
}

.user-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}


.user-list-item {
  text-align: left;
  color: white;
  font-size:600;
}

.wr__home-content-left,
.wr__home-content-right {
  background-color: rgba(0, 0, 0, 0.082);
  text-align: center;
  padding: 1rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.wr__home-content-left h2 {
  color: #fff;
  margin: 0;
}

.wr__home-content-left p {
  color: var(--col-white-80);
}

.wr__home-content-right {
  align-self: start;
}