header {
  width: 100%;
  height: 80px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.content-container {
  padding: 1rem;
  max-width: clamp(20rem, 90%, 37.5rem);
  margin:0 auto;
  align-self: start; /* important: stops vertical stretching */
}

.content-wrapper {
  display: grid;
  gap: 1rem;
}

.home-page {
  display: grid;
  grid-template-rows: auto;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/home-background.jpg");
}

.header__text {
  color: var(--col-white);
  font-size: var(--text-header-1);
}

.text__users-header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col-white);
  margin-bottom: .5rem;
}

.wr__home-content-left,
.wr__home-content-right {
  background-color: rgba(0, 0, 0, 0.082);
  text-align: center;
  padding: 1rem;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.wr__home-content-left h2 {
  color: #fff;
  margin: 0;
}

.wr__home-content-left p {
  color: var(--col-white-80);
}