/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@700&display=swap");

/* ===================== CSS VARIABLES =====================*/
:root {
  --card-width: 6px;
  --card-height: calc(var(--card-width) * 1.4);
  --border-sm: 1px dashed rgba(255, 255, 255, 0.3);

  --blur-shadow-col-1: #00ff88;

  /* == Colors ==  */
  --col-primary: #00ff88;
  --col-secondary: #ffcc00;

  /* Colors: White */
  --col-white-hue: 0;
  --col-white: hsl(var(--col-white-hue), 0%, 100%);
  --col-white-80: hsl(var(--col-white-hue), 0%, 80%);

  /* == Font sizes==  */
  /* paragraph*/
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-x-sm: 0.75rem;
  --text-caption: 0.5rem;
  /* headers*/
  --text-header-1: clamp(1.125rem. 1.5rem, 2rem);

  /* == Sizing ==  */
  /* Border radius */
  --br-md: 1.125rem;
  --br-base: 1rem;
  --br-sm: .5rem;
  --br-x-sm: .25rem;
  /* Margin - Padding */
  --sizing-x-lg: 2.5rem;
  --sizing-md: 1.25rem;
  --sizing-base: 1rem;
  --sizing-sm: 0.5rem;
  --sizing-x-sm: 0.25rem;

}

/* ===================== CSS VARIABLES =====================*/
/* -------------------------------------------------------- */
/* ========================== CSS ==========================*/
body {
  font-size: var(--text-base);
  font-family: "Inter", sans-serif;
}

.background-image-blur {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  backdrop-filter: blur(5px);
}

.bot-card {
  height: var(--card-height);
  aspect-ratio: 1 / 1.4;
  visibility: hidden;
}

.input-box {
  width: 100%;
  margin-top: 20px;
}

.glass-background {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input-box input,
.btn {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.input-box input::placeholder {
  color: white;
}

.input-box input[type="submit"],
.btn {
  background: white;
  color: #666;
  cursor: pointer;
  font-weight: 600;
}

.input-box input[type="submit"] {
  background-color: white;
  color: #666;
  cursor: pointer;
  font-weight: 600;
}

.btn-secondary {
  color: white;
  background: #666;
  cursor: pointer;
  font-weight: 600;
}