<h1>Hi <%= user.name %></h1>

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
<label>ID: </label>
<h1 id="socket_id"></h1>
<ul id="messages"></ul>
<form id="form" action="">
  <input id="input" autocomplete="off" /><button>Join Room</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/index.js"></script>
