<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Total Twenty - Home</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header>
      <h1 class="header__text">Welcome, <%= user.name %></h1>

      <form action="/logout?_method=DELETE" method="POST">
        <button class="btn-glass" type="submit">Log Out</button>
      </form>
    </header>

    <div class="container__glass">
      <div class="wrapper__home-content">
        <div class="wr__home-content-left">
          <h2>Join or Create a Game Room</h2>
          <p>ID: <span id="user-id"></span></p>
          <form id="form" action="">
            <div class="input-box">
              <input
                id="input"
                autocomplete="off"
                placeholder="Enter a room code"
              />
            </div>
            <div class="input-box">
              <input type="submit" value="Create or Join Room" />
            </div>
          </form>
        </div>

        <div class="wr__home-content-right">
          <h2 class="text__users-header">Online Users</h2>
          <ul id="messages">
            <li>
              <p class="user_message">user 1</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/index.js"></script>
  </body>
</html>
