<h1>Login</h1>
<form action="/login" method="POST">
  <div class="">
    <label for="name">Username</label
    ><input type="text" name="name" id="name" placeholder="Username" required />
  </div>
  <% if (error && error.length > 0) {%>
  <div class="error"><%= error[0] %></div>
  <%}%>
  <button type="submit">Login</button>
</form>
