/* ============================================================= */
/* GENERAL */
/* ============================================================= */
.game {
  /* Colors  */
  --_clr-background-main: oklch(20.157% 0.02302 268.859);
  --_clr-background-dark: oklch(
    from var(--_clr-background-main) calc(l * 0.5) c h
  );
  --_clr-background-light: oklch(
    from var(--_clr-background-main) calc(l * 1.7) c h
  );

  --clr-white: white;

  --_clr-text: oklch(from var(--_clr-background-main) calc(l * 1.95) c h);
  --_clr-text-muted: oklch(from var(--_clr-background-main) calc(l * 1.7) c h);

  /* ---- Player colors */
  --_clr-player-1: blue;
  --_clr-player-2: red;

  /* Semantic Colors */
  --_clr-success: green;

  /* background-color: var(--_clr-background-dark); */
  background-image: url("/images/game-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--_clr-text-muted);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.game__actions {
  display: flex;
  gap: var(--sizing-300);
  margin-inline: auto;
  margin-top: var(--sizing-400);
  width: fit-content;
}

.game__avatar {
  --_background-clr: var(--_clr-player-1);

  aspect-ratio: 1;
  border-radius: 100vw;
  background-color: var(--_background-clr);
  color: oklch(from var(--_background-clr) calc(l * 1.7) c h);
  display: grid;
  font-size: 20px;
  font-weight: bold;
  grid-area: img;
  /* max-width: 40px; */
  place-items: center;
  /* width: 100%; */

  &[data-player="2"] {
    --_background-clr: var(--_clr-player-2);
  }
}

.game__board {
  --max-width: 1110px;
  --padding: 1rem;

  background-color: oklch(from var(--_clr-background-main) l c h / 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: var(--padding-500);
  position: relative;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  -webkit-backdrop-filter: blur(10px);
}

.game__btn {
  --_background-clr: var(--_clr-background-light);
  --_clr: oklch(from var(--_background-clr) calc(l * 1.7) c h);

  background-color: var(--_background-clr);
  border: 1px solid var(--_clr);
  border-radius: 4px;
  color: var(--_clr);
  cursor: pointer;
  padding-block: var(--sizing-300);
  padding-inline: var(--sizing-400);

  &[data-btn="ghost"] {
    --_background-clr: transparent;
    --_clr: oklch(from var(--_clr-background-light) calc(l * 1.7) c h);
  }
  &[data-btn="info"] {
    --_background-clr: var(--clr-info-main);
  }
}

.game__card-pile {
  border: 2px dotted white;
  border-radius: 4px;
  padding: var(--padding-300);
}

.game__card-piles-wrapper {
  display: flex;
  gap: var(--sizing-400);
  margin-inline: auto;
  width: fit-content;
}

.game__opponent-banner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.game__overlay {
  background-color: oklch(from var(--_clr-background-dark) l c h / 0.75);
  backdrop-filter: blur(4px);
  inset: 0;
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 10;
}

.game__phase-inidicator {
  --_background-clr: var(--_clr-player-1);

  background-color: var(--_background-clr);
  border-radius: 4px;
  color: oklch(from var(--_background-clr) calc(l * 1.7) c h);
  font-size: 12px;
  margin-inline: auto;
  padding-inline: var(--padding-400);
  width: fit-content;

  &[data-player="2"] {
    --_background-clr: var(--_clr-player-2);
  }
}

.game__play-section {
  margin-block: var(--sizing-400);
}

.game__player-hand,
.game__opponent-hand {
  display: flex;
  gap: var(--sizing-300);
  margin-inline: auto;
  width: fit-content;
}

.game__play-wrapper {
  display: grid;
  margin-block: var(--sizing-400);
  gap: var(--sizing-400);
}

.game__player-details,
.game__opponent-details {
  display: grid;
  column-gap: var(--sizing-300);
  row-gap: var(--sizing-300);
  grid-template-areas:
    "img name"
    "img status";
}

.game__player-status {
  background-color: var(--_clr-background-dark);
  border-radius: 100vw;
  color: var(--clr-white);
  font-size: 12px;
  grid-area: status;
  text-align: center;
}

.game__popup {
  background-color: var(--_clr-background-main);
  border: 1px solid var(--_clr-background-light);
  border-color: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sizing-400);
  padding: var(--padding-500);
  min-width: 280px;
  text-align: center;
}

.game__popup-reason {
  color: var(--_clr-text-muted);
  font-size: 0.875rem;
}

.game__popup-score-card {
  --_background-color: var(--_clr-background-light);

  background-color: var(--_background-color);
  border: 1px solid oklch(from var(--_background-color) calc(l * 1.7) c h);
  border-radius: 8px;
  color: oklch(from var(--_background-color) calc(l * 1.7) c h);
  padding: var(--padding-300);

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--sizing-300);
  justify-content: center;
  grid-template-columns: 1fr; /* force single column */
  grid-template-rows: repeat(4, auto);

  &[data-winner="true"] {
    --_background-color: var(--_clr-success);
  }
}

.game__popup-score-designation {
  background-color: var(--_clr-background-light);
  border-radius: 100vw;
  font-size: 11px;
  padding-inline: var(--padding-300);
}

.game__popup-score-name {
  font-size: 0.75rem;
  font-weight: bold;
}

.game__popup-score-points {
  color: oklch(from var(--_background-color) calc(l * 2) c h);
  font-weight: bold;
  font-size: 20px;
}

.game__popup-scores {
  align-items: center;
  display: flex;
  gap: var(--sizing-300);
  justify-content: center;
  width: 100%;
}

.game__score-indicator {
  color: white;
  font: var(--ty-md);
  font-weight: bold;
  text-align: right;
}

.game__popup-title {
  color: var(--clr-white);
  font: var(--ty-md);
  font-weight: bold;
  font-size: 1.5rem;
}
